body {
    font-family: 'Montserrat', sans-serif;
}

.template {
    background: url(../img/banner.jpg) no-repeat center center ;
    width: 100%;
    height: 800px;
    position:absolute;     
}
.template__topo {
    height: 5%px;
    width: 100%;    
    font-weight: 400;    
}
.template__topo .container {
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;     
}
.template__topo__item {
    color: #ffffff;
    margin-top: 1%;
}
.template__topo__item__email {
    color: #ffffff;
    margin-top: 1%;
}
.template__topo__item__quero {
    color: #ffffff;
    margin-top: 1%;
}
.container-fluid {    
    background: #ffffff;
    width: 85%;
    margin-top: 3%;   
    vertical-align: middle;     
}
.menu {
    align-items: center;
    flex-grow: 1;   
}
.navbar-toggler {    
    background-image: url(../img/hamburguer.png);
    width: 50px;
    height: 50px;

}
.nav-item {
   
}

.nav-link {    
    color: #ca970a;
    font-size: 24; 
           
}

.nav-link:hover {
    color: #000000;
}
.dropdown-menu {
    font-size: 18px;
}
.dropdown-item {
    color: #ca970a;
}
.nav-whatsapp {
    width: 64px; 
    height: 64px;   
}
.template__texto {
    margin-top: 30px;
}
h1 {
    font-size: 70;
    color: #ca970a;    
    text-align: center;
    font-family: 'Acme', sans-serif; 
    position: relative; 
}
h2 {
    margin-top: 20px;
    font-size: 50;
    color: #ffffff;
    text-align: center;
    font-family: 'Russo One', sans-serif; 
    position: relative;    
}

.template__texto__p {    
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 40px;
    position: relative;
    margin-top: 2%;    
    font-weight: 600; 
}
.template__botao {
    margin-top: 90px;
    text-align: center;
}
.template__botao__sobre {
    background-color: #ca970a;
    width: 280px;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 50px;
    position: relative;    
}
.template__botao__sobre:hover {
    background-color: #e48810;
    color: #e7e3e3;
}
.template__botao__contato {
    background-color: #ffffff;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    margin-left: 50px;
    position: relative; 
}
.template__botao__contato:hover {
    background-color: #f7f2f2;
    color: #ca970a;
}
.conteudoPrincipal {
    background-color: #ffffff;     
    position: relative;
    margin-bottom: 5%;
     
}
.produtos {       
    font-size: 25px;
    font-weight: 600;
    align-items: center;  
}

.linhaGrande {
    text-align: center;    
    color: #ca970a;
    font-weight: 600;
    margin-top: 25px;    
}
.linhaPequena {
    text-align: center;    
    color: #ca970a;
    font-weight: 600;
    margin-top: 25px;
    display: none;    
}
h4 {
    text-align: center;
    margin-top: 25px;
}
.card {
    margin-top: 4%;
 margin-left: 20px;
}

.rodape {      
    background-color: #000000;
    width: 100%;
    padding: 1%;
    text-align: center;
       
}
.rodape__imagem {
   width: 13%;
   margin-bottom: 1%;
   
   
   
}
.rodape__texto {
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    
    
}
/*Tablet*/
@media (max-width:768px) {
    .template__topo__item__quero {
        display: none;
    }
  .nav-whatsapp {
    display: none;
  }
}
/*Mobile*/
@media(max-width:480px){
    .template__topo__item__email {
    display: none;
        
    }
    .container-fluid {
        margin-top: 5%;        
    }
    .template {
        height: 100%;
        padding-bottom: 20%;
       }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    .template__texto__p {
        margin-bottom: 5%;
        font-size: 20px;
                
    }

  
   .template__botao {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .template__botao__sobre {    
    width: 180px;
    height: 50px;    
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;
    font-weight: 600;    
    margin-bottom: 15px;
    margin-left: 0;
}
.template__botao__contato {     
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;    
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 30px;
}
.linhaGrande {
    display: none;   
}
.linhaPequena {
    text-align: center;    
    color: #ca970a;
    font-weight: 600;
    margin-top: 25px;
    display: block;    
}
h4 {
    font-size: 20px;
}
.rodape__imagem {
    width: 100px;
}
 
}