body {
    font-family: 'Montserrat', sans-serif;
}


.template {
    background: url(../img/banner.jpg) no-repeat center center ;
    background-position: center; 
  background-size: 100% 700px; 
  position: absolute; 
  
   
    width: 100%;
    height: 700px;
    
    
}
.template__topo {
    display: flex;
    height: 20px;
    width: 92.5%;
    padding-left: 100px;
    padding-right: 100 px;
    justify-content: space-between;
    
    font-weight: 400;
    
    
}


.template__topo__item {
   
    color: #ffffff;
    
    margin-right: 0;
    
    
    

}
.nav {
    margin-top: 15px;
    
    
    
}
.navegador {
    display: flex;
    background: #ffffff;
    width: 90%;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
    
    
}
.nav-link {
    justify-content: last baseline;
    color: #ca970a;
    font-size: 24;
    font-weight: 600;
    
    
}



.nav-item {
    
    margin-left: 10px;
}
.dropdown-item {
    color: #ca970a;
}
.dropdown-item:hover {
    color: #000000;
}

.nav-whatsapp {
    width: 64px; 
    height: 64px;
    margin-right: 10px;
    margin-top: 10px;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 70;
    color: #ca970a;    
    text-align: center;
    font-family: 'Acme', sans-serif;
    
   

    
}
h2 {
    font-size: 50;
    color: #ffffff;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    
}
.template__texto__menor {
    margin-top: 15px;
}

.template__texto__p {
    
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35;
    
}

.template__botao {
    margin-top: 70px;
    text-align: center;
}

.template__botao__sobre {
    background-color: #ca970a;
    width: 280px;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 50px;
   
}
.template__botao__sobre:hover {
    background-color: #e48810;
    color: #e7e3e3;
}

.template__botao__contato {
    background-color: #ffffff;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    padding: 15px 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    margin-left: 50px;
}
.template__botao__contato:hover {
    background-color: #f7f2f2;
    color: #ca970a;
}

.principal {
    background-color: #ffffff;
    position: absolute;
    top: 700px;
    margin-top: 30px;
    
    
}

.produtos {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    margin-bottom: 30px;
}
.linha {
    margin-bottom: 30px;
    color: #ca970a;
    font-weight: 600;
}

.produtos__botao {
    width: 80%;
    display: flex;
    margin-left: 8%;    
}

.produtos__botao__item {
    text-align: center;
    margin-left: 30px;    
}
.rodape {
    position:absolute;
    background-color: #000000;
    width: 100%;
    top: 1800px;
    text-align: center;
    
}

.rodape__imagem {
    margin-top: 30px;
}
.rodape__texto {
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
}